.modal-title {
  width: 100%;
  font-size: 3.4dvh;
  color: rgb(247, 254, 255);
  word-spacing: 0.3dvh;
}

.modal-body {
  align-self: center;
}

.form-check-label {
  transform: translateY(-20%);
  font-size: 3.4dvh;
  color: rgb(247, 254, 255);
  word-spacing: 0.3dvh;
}