<div class="body" *ngIf="Today$ | async as Today">
  <div class="body-content d-flex justify-content-around">
    <div
      class="body-content-temperature d-flex flex-column justify-content-between"
    >
      <h1 class="temperature-title align-self-center">
        {{ Today?.temperature | number : "1.0-0" }}&deg;
      </h1>
      <h1 class="temperature-status align-self-center">
        {{ Today?.description }}
      </h1>
    </div>
    <div class="body-content-symbol align-self-center">
      <img class="symbol-image img-fluid" [src]="Today?.icon" />
    </div>
  </div>
  <div class="body-footer-up">
    <h1 class="wind-info" *ngIf="User$ | async as User">
      {{ Today?.wind?.deg | wind }}
      {{ Today?.wind?.speed | speed : User.windSpeed }}
    </h1>
  </div>
</div>
