/*===============Reset button==============*/

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
/*================button End=========*/

/*================Background====================*/

.screen {
  position: relative;
  background-image: linear-gradient(to right, #4b9ced, #00038b);
  height: 100dvh;
}

/*=================Loading Start====================*/
.fade-in {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 9999;
  user-select: none;
}

/*=================Loading End======================*/

/*=================Background End==================*/

/*==========Header================*/
.header {
  position: fixed;
  top: -2dvh;
  height: 15.5dvh;
  width: 100%;
  z-index: 1;
}

.header-left {
  width: 29.6%;
  border-bottom: 0.5dvh solid #a8a7b0;
  background: linear-gradient(#e6e6e6, #cbccc8 67%, #e6e6e6 0%);
  box-shadow: inset -1.15dvw -1dvw 0 -1dvw black,
    inset -0.8dvw -0.75dvw 0 -0.3dvw white;
  transition: 200ms;
}

.header-middle {
  position: relative;
  width: 40.8%;
  border-bottom: 0.5dvh solid #a8a7b0;
  background: linear-gradient(#e6e6e6, #cbccc8 67%, #e6e6e6 0%);
  box-shadow: inset -1.15dvw -1dvw 0 -1dvw black,
    inset 1.15dvw -1dvw 0 -1dvw black, inset 0.5dvw 0 0.6dvw -0.3dvw black,
    inset -0.8dvw -0.75dvw 0 -0.3dvw white;
  transition: 200ms;
}

.header-middle-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 6.4dvw;
}

.header-middle-icon {
  position: absolute;
  z-index: 1;
  left: 15%;
  margin-top: 3dvh;
  font-size: 14dvh;
}

.header-middle-text {
  position: absolute;
  bottom: 0;
  right: 11%;
  width: 60%;
  text-align: center;
  z-index: 1;
  font-size: 5.5dvh;
}

.header-right {
  position: relative;
  width: 29.6%;
  border-bottom: 0.5dvh solid #a8a7b0;
  background: linear-gradient(#e6e6e6, #cbccc8 67%, #e6e6e6 0%);
  box-shadow: inset 1.15dvw -1dvw 0 -1dvw black,
    inset 0.5dvw 0 0.6dvw -0.3dvw black, inset 0 -0.75dvw 0 -0.3dvw white;
  transition: 200ms;
}

.header-right-content {
  z-index: 1;
  font-size: 5.5dvh;
}

@media (hover: hover) {
  .header-btn:hover {
    cursor: pointer;
    color: rgb(247, 254, 255);
  }
  .header-btn:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 132, 255, 0.65);
  }
}

.header-btn:active {
  top: 2dvh;
  border-bottom: none;
}

.header-btn:not(active) {
  top: 0;
  transition: 100ms;
}

.header-btn[disabled] {
  pointer-events: none;
  color: rgba(0, 0, 0, 0);
}

/*==========Header Ends==========*/

/*===============BodyHeader=========*/
.body-header {
  position: fixed;
  padding: 0;
  top: 14.8dvh;
  height: 13.1dvh;
  width: 100%;
  z-index: 1;
  background: linear-gradient(
    to right,
    #277116 4%,
    #47a433 13%,
    #277116 23%,
    #3c8e2a 98%
  );
  border-top: solid #3c8e2a;
  border-bottom: solid #3c8e2a;
  border-width: 0.2dvh;
  box-shadow: 0 0.15dvh 0 0 rgb(38, 26, 133), 0 0.5dvh 0 0 #00038b;
}
.body-header::before {
  content: "";
  position: absolute;
  top: 1%;
  left: 1%;
  height: 0.25dvh;
  width: 25%;
  background: linear-gradient(to right, #277116, #74f940, #277116);
}

.body-title {
  position: absolute;
  top: 6.2dvh;
  width: 28%;
  text-align: center;
  line-height: 80%;
  transform: translateY(-50%);
  letter-spacing: -0.02em;
  color: rgb(247, 254, 255);
  text-shadow: rgb(34, 34, 34) 0.08em 0.03em;
}

.body-header-body {
  position: absolute;
  height: 11.5dvh;
  width: 72%;
  top: 6.55dvh;
  right: 0;
  transform: translateY(-50%);
  border-radius: 5.75dvh 0 0 5.75dvh;
  background: linear-gradient(#3b9436 10%, #59e85d);
  border-top: solid rgb(38, 26, 133);
  border-width: 0.2dvh;
  box-shadow: inset 0.45dvh 0.25dvh 0 0 #00038b, inset 0 0.4dvh 0 0 #277116,
    inset -1.5dvh 2.3dvh 0 -1.5dvh #4fba43,
    inset -1.5dvh -2.1dvh 0 -1.5dvh #4dd664;
}

.body-header-title {
  position: absolute;
  font-size: 6.5dvh;
  color: rgb(247, 254, 255);
  transform: translateY(-50%);
  top: 50%;
  right: 1.3em;
  text-shadow: rgb(34, 34, 34) 0.05em 0.03em;
}

/*===============BodyHeader Ends=========*/

/*===============Body Start============*/
.body-screen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 86.5dvh;
  overflow: hidden;
}
/*==============Body Ends=============*/

/*===============BodyFooter=========*/
.body-footer {
  position: fixed;
  width: 100%;
  bottom: 15.5dvh;
  z-index: 1;
}

.body-footer-down {
  height: 5dvh;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2) 61%,
    rgba(163, 22, 22, 0.8) 88%
  );
}

.body-footer-brand {
  font-size: 3.3dvh;
  font-weight: bold;
  color: rgb(247, 254, 255);
  margin-top: 1dvh;
  margin-left: 1.3em;
  text-shadow: rgb(34, 34, 34) 0.09em 0.06em;
}

.body-footer-date {
  font-size: 3.8dvh;
  color: rgb(247, 254, 255);
  margin-bottom: 1dvh;
  margin-right: 2.3rem;
}

.body-footer-underline {
  position: absolute;
  bottom: 0;
  height: 0.55dvh;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 60%,
    rgb(169, 183, 198) 80%
  );
}

.body-footer-underline::before,
.body-footer-underline::after {
  content: "";
  position: absolute;
}

.body-footer-underline::before {
  top: -0.15dvh;
  height: 0.15dvh;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 55%,
    rgba(169, 183, 198, 0.5)
  );
}

.body-footer-underline::after {
  bottom: -0.15dvh;
  height: 0.15dvh;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 55%,
    rgba(169, 183, 198, 0.5)
  );
}

/*===============BodyFooter Ends=========*/

/*==========Footer================*/
.footer {
  position: fixed;
  bottom: 0;
  height: 13.5dvh;
  width: 100%;
  overflow: hidden;
}

.footer-left {
  position: relative;
  width: 29.6%;
  border-top: 0.5dvh solid #a8a7b0;
  background: linear-gradient(#e6e6e6 40%, #cbccc8 0%, #e6e6e6);
  box-shadow: inset -1.15dvw -1dvw 0 -1dvw black,
    inset -0.8dvw 0.75dvw 0 -0.3dvw white;
  transition: 200ms;
}

.footer-left-content {
  position: absolute;
  width: 100%;
  top: -0.5dvh;
  z-index: 1;
  text-align: center;
  font-size: 5.5dvh;
}

.footer-middle {
  position: relative;
  width: 40.8%;
  border-top: 0.5dvh solid #a8a7b0;
  background: linear-gradient(#e6e6e6 40%, #cbccc8 0%, #e6e6e6);
  box-shadow: inset -1.15dvw -1dvw 0 -1dvw black,
    inset 1.15dvw -1dvw 0 -1dvw black, inset 0.5dvw 0 0.6dvw -0.3dvw black,
    inset -0.8dvw 0.75dvw 0 -0.3dvw white;
  transition: 200ms;
}

.footer-middle-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 6.4dvw;
}

.footer-middle-icon {
  position: absolute;
  top: -11dvh;
  left: 15%;
  z-index: 1;
  font-size: 14dvh;
}

.footer-middle-text {
  position: absolute;
  top: -0.5dvh;
  right: 11%;
  width: 60%;
  text-align: center;
  z-index: 1;
  font-size: 5.5dvh;
}

.footer-right {
  position: relative;
  width: 29.6%;
  border-top: 0.5dvh solid #a8a7b0;
  background: linear-gradient(#e6e6e6 40%, #cbccc8 0%, #e6e6e6);
  box-shadow: inset 1.15dvw -1dvw 0 -1dvw black,
    inset 0.5dvw 0 0.6dvw -0.3dvw black, inset 0 0.75dvw 0 -0.3dvw white;
  transition: 200ms;
}

.footer-right-content {
  position: absolute;
  width: 100%;
  top: -0.5dvh;
  text-align: center;
  z-index: 1;
  font-size: 5.5dvh;
}

@media (hover: hover) {
  .footer-btn:hover {
    cursor: pointer;
    color: rgb(247, 254, 255);
  }
  .footer-btn:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 132, 255, 0.65);
  }
}

.footer-btn:active {
  top: 2dvh;
  border-top: none;
}

.footer-btn:not(active) {
  top: 0;
  transition: 100ms;
}

.footer-btn[disabled] {
  color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

/*==========Footer Ends==========*/
