/*=========Body===========*/
.body
{
  position:relative;
  top: 13.9dvh;
  height: 72.5dvh;
  padding-top: 1dvh;
  margin-bottom: 14dvh;
  width: 100%;
}
.content
{
  position: absolute;
  width: 77.2%;
  height: 32dvh;
  top: 24dvh;
  left: 56.6%;
  transform: translateX(-50%);
}
/*========Container======*/

/*========Container ends=========*/

/*========Header===========*/

/*=======Header ends=======*/

/*=======Body Ends==========*/
