

/*=========Body===========*/
.body
{
  position:relative;
  top: 13.9dvh;
  height: 72.5dvh;
  padding-top: 1dvh;
  width: 100%;
}

.body-content
{
  position: absolute;
  top: 13.7dvh;
  width: 100%;
  height: 39.1dvh;
}
.body-content-temperature
{
  padding-top: 5.1dvh;
}
.temperature-title
{
  font-size: 17dvh;
  color: rgb(247, 254, 255);
  text-shadow: rgb(34, 34, 34) 0.05em 0.03em;
}
.temperature-status
{
  margin-top: 6dvh;
  font-size: 6.8dvh;
  color: rgb(247, 254, 255);
  text-shadow: rgb(34, 34, 34) 0.05em 0.03em;
}
.symbol-image
{
  margin-top: 8dvh;
  width: 32dvh;
}
.body-footer
{
  position:absolute;
  width: 100%;
  bottom: 1.9dvh;
}
.body-footer-up
{
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 52%,rgba(0, 0, 0, 0.3));
}

.wind-info
{
  text-align: end;
  font-size: 6.6dvh;
  color: rgb(247, 254, 255);
  text-shadow: rgb(34, 34, 34) 0.05em 0.03em;
  margin-bottom: 0dvh;
  margin-right: 2.3rem;
}

.body-footer-down
{
  height: 5dvh;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 61%,rgba(163, 22, 22, 0.8)88%);
}
.body-footer-brand
{
  font-size: 3.3dvh;
  font-weight: bold;
  color: rgb(247, 254, 255);
  margin-left: 1.3em;
  text-shadow: rgb(34, 34, 34) 0.09em 0.06em;
}
.body-footer-date
{
  font-size: 3.8dvh;
  color: rgb(247, 254, 255);
  margin-bottom: 1dvh;
  margin-right: 2.3rem;
}
.body-footer-underline
{
  position: absolute;
  bottom: 0;
  height: 0.55dvh;
  width: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 60%,rgb(169, 183, 198) 80%);
}
.body-footer-underline::before,
.body-footer-underline::after
{
  content: '';
  position: absolute;
}
.body-footer-underline::before
{
  top: -0.15dvh;
  height: 0.15dvh;
  width: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 55%,rgba(169, 183, 198, 0.5));
}
.body-footer-underline::after
{
  bottom: -0.15dvh;
  height: 0.15dvh;
  width: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 55%,rgba(169, 183, 198, 0.5));
}
/*=======================Body Ends==================*/
