/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */

@import "bootstrap/scss/bootstrap";

* {
  font-family: "shippori-antique-b1", "Roboto";
  word-spacing: 0.3em;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

@font-face {
  font-family: "shippori-antique-b1";
  src: url("assets/fonts/Shippori_Antique_B1/ShipporiAntiqueB1-Regular.ttf");
}
