/* Importing Bootstrap SCSS file. */

/*Start Modals*/
$modal-content-bg: rgba(0, 0, 0, 0.2);
$modal-header-border-color: none;
$modal-footer-border-color: none;
$modal-backdrop-bg: white;
$modal-backdrop-opacity: 0.1; // Adjust the opacity as needed
/*End Modals*/
@import "bootstrap/scss/bootstrap";

* {
  font-family: "shippori-antique-b1", "Roboto";
  word-spacing: 0.3em;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

@font-face {
  font-family: "shippori-antique-b1";
  src: url("assets/fonts/Shippori_Antique_B1/ShipporiAntiqueB1-Regular.ttf");
}
