/*=================Loading Start====================*/
.fade-in {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 9999;
  user-select: none;
}

/*=================Loading End======================*/

/*==========Header================*/
.header {
  background-color: #40992a;
  user-select: none;
  position: fixed;
  top: 7.2dvh;
  height: 6.8dvh;
  width: 100%;
  z-index: 1;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5dvh;
  word-spacing: 0.5dvh;
}
/*==========Header Ends==========*/

/*===============Body Start============*/
.body {
  position: fixed;
  top: 14dvh;
  left: 0;
  width: 100%;
  height: 72.5dvh;
}

/*==============Cart Start===========*/
.crt-body {
  position: relative;
  height: 19.8dvh;
  width: 100%;
  margin-top: 1.1dvh;
  margin-bottom: 2.2dvh;
}

.crt-header {
  background: linear-gradient(to right, #003b65, rgba(255, 255, 255, 0) 90%);
  position: absolute;
  top: 0;
  left: 0;
  height: 35%;
  width: 100%;
}

.header-title {
  position: absolute;
  font-size: 5dvh;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  color: rgb(247, 254, 255);
  text-shadow: rgb(34, 34, 34) 0.05em 0.01em;
  word-spacing: 0.5dvh;
}

.crt-content {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 65%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.crt-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
}

.left-title {
  position: absolute;
  font-size: 6.4dvh;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: rgb(247, 254, 255, 0.8);
  word-spacing: 0.5dvh;
  z-index: 1;
}

.crt-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
}

.settings-btn {
  pointer-events: auto;
  position: absolute;
  top: -1dvh;
  width: 87%;
  height: 14.8dvh;
  z-index: 1;
  border: 0.5dvh solid #a8a7b0;
  border-right: 0.5dvh solid #575757;
  background: linear-gradient(#e6e6e6 40%, #cbccc8 0%, #e6e6e6);
  box-shadow: inset -0.65dvw 0.7dvw 0 -0.3dvw white;
  transition: 200ms;
}

.btn-content {
  position: absolute;
  width: 100%;
  top: 24%;
  z-index: 2;
  text-align: center;
  font-size: 6dvh;
}

@media (hover: hover) {
  .settings-btn:hover {
    user-select: none;
    cursor: pointer;
    color: rgb(247, 254, 255);
  }
  .settings-btn:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 132, 255, 0.65);
  }

  .location-content:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 132, 255, 0.65);
  }

  .stats-content:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(247, 254, 255);
  }

  .stats-content:hover .crt-left .left-title {
    color: black;
  }
}

.settings-btn:active {
  top: 2dvh;
}
.settings-btn:not(active) {
  top: -1dvh;
  transition: 100ms;
}

/*==============Cart Ends============*/

/*==============Body Ends=============*/

/*==========Footer================*/
.footer {
  position: fixed;
  bottom: 0;
  height: 13.5dvh;
  width: 100%;
  overflow: hidden;
  user-select: none;
}
.footer-left {
  position: relative;
  width: 29.6%;
  border-top: 0.5dvh solid #a8a7b0;
  background: linear-gradient(#e6e6e6 40%, #cbccc8 0%, #e6e6e6);
  box-shadow: inset -1.15dvw -1dvw 0 -1dvw black,
    inset -0.8dvw 0.75dvw 0 -0.3dvw white;
  transition: 200ms;
}

.footer-left-content {
  position: absolute;
  width: 100%;
  top: -0.5dvh;
  z-index: 1;
  text-align: center;
  font-size: 5.5dvh;
}

.footer-right {
  position: relative;
  width: 70.4%;
  border-top: 0.5dvh solid #a8a7b0;
  background: linear-gradient(#e6e6e6 40%, #cbccc8 0%, #e6e6e6);
  box-shadow: inset 1.15dvw -1dvw 0 -1dvw black,
    inset 0.5dvw 0 0.6dvw -0.3dvw black, inset 0 0.75dvw 0 -0.3dvw white;
}

@media (hover: hover) {
  .footer-btn:hover {
    user-select: none;
    cursor: pointer;
    color: rgb(247, 254, 255);
  }
  .footer-btn:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 132, 255, 0.65);
  }
}

.footer-btn:active {
  top: 2dvh;
  border-top: none;
}
.footer-btn:not(active) {
  top: 0;
  transition: 100ms;
}
.footer-btn[disabled] {
  color: rgba(0, 0, 0, 0);
  pointer-events: none;
  user-select: none;
}
/*==========Footer Ends==========*/
