<div class="header">
  <h1 class="header-text">Change Settings</h1>
</div>
<div class="body d-flex flex-column">
  <div class="crt-body">
    <div class="crt-header">
      <h1 class="header-title">Closest Location</h1>
    </div>
    <div class="crt-content location-content">
      <div class="crt-left">
        <h1 class="left-title">{{ location?.city }}</h1>
      </div>
      <div class="crt-right">
        <button class="settings-btn" (click)="changeLocation()">
          <h1 class="btn-content">Change</h1>
        </button>
      </div>
    </div>
  </div>
  <div class="crt-body">
    <div class="crt-header">
      <h1 class="header-title">Temperature Display</h1>
    </div>
    <div class="crt-content stats-content">
      <div class="crt-left">
        <h1 id="temp" class="left-title">{{ measure | temperature }}</h1>
      </div>
      <div class="crt-right">
        <button class="settings-btn" (click)="changeTemp()">
          <h1 class="btn-content">Change</h1>
        </button>
      </div>
    </div>
  </div>
  <div class="crt-body">
    <div class="crt-header">
      <h1 class="header-title">Wind Display</h1>
    </div>
    <div class="crt-content stats-content">
      <div class="crt-left">
        <h1 id="speed" class="left-title">{{ speed }}</h1>
      </div>
      <div class="crt-right">
        <button class="settings-btn" (click)="changeSpeed()">
          <h1 class="btn-content">Change</h1>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="footer d-flex">
  <div class="footer-left footer-btn" (click)="getBack()">
    <h1 class="footer-left-content align-self-start">Back</h1>
  </div>
  <div class="footer-right"></div>
</div>
