<div class="header">
  <h1 class="header-text">Choose the location closest to where you live.</h1>
</div>
<div class="body d-flex flex-column">
  <div class="selector">
    <h1 class="title">Herisau</h1>
  </div>
</div>
<div class="footer d-flex">
  <div class="footer-left footer-btn" (click)="getBack()">
    <h1 class="footer-left-content align-self-start">Back</h1>
  </div>
  <div class="footer-middle footer-btn">
    <fa-icon class="footer-middle-icon down" [icon]="faSortDown"></fa-icon>
  </div>
  <div class="footer-middle footer-btn">
    <fa-icon class="footer-middle-icon up" [icon]="faSortUp"></fa-icon>
  </div>
<div class="footer-right">
</div>
</div>
